/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.roomViewBtn{
    -fx-background-color:white;
    -fx-text-fill: #000000;
}
.roomViewBtn:hover{
    -fx-text-fill: #4cb5f5;
    -fx-border-color:#ff9933;
    -fx-border-width: 0 0 4 0;
}
